.navbar {
    margin: 0px;
    padding: 0px;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 15px 0px;
}

.divTransparent {
    background-color: transparent;
}

.navigation {
    padding: 5px 15px;
    border-radius: 10px;
    font-size: 16px;
    font-family: monospace;
}

.selected {
    background: linear-gradient(90deg, rgb(131, 131, 132) 0%, rgb(64, 64, 64) 100%);
}

.logoDiv {
    width:38px;
    position: fixed;
    left: 10px;
    top: 5px;
}

.logo {
    width: 100%;
    height: 38px;
    src: './logo.png';
}