$side-width: 20%;
$base-background: rgb(25, 25, 32);


body {
  margin: 0px;
  background-color: $base-background;
  color: white;
  min-height: 100%;
  padding: 0px;
  max-width: 100vw;
}

.mainBox {
  margin: 0px $side-width;
}

html {
  padding: 0px;
  margin: 0px;
}

div {
  color: white;
  font-size: 14px;
  font-family: monospace;
}

.flex {
  display: flex;
}