$base-background: rgb(32, 32, 43);
$filter-background: rgb(27, 27, 39);
$list-background: rgb(32, 32, 43);
$film-card-width: 170px;



.list {
    background-color: $list-background;
    width: 70%;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}

.poster {
    width: $film-card-width;
    height: 255px;
}

.posterImg {
    width: 100%;
    height: 100%;
}

.filmCard {
    width: $film-card-width;
    margin-top: 0px;
}

.paginationNavigate {
    font-size: 18px;
    background-color: transparent;
    border: none;
    color: white;
    padding: 0px;
    margin: auto 0px;
}

.pagSymbol {
    font-size: 18px;
    margin: auto 0px;
}

.pagination {
    gap: 10px;
}

.paginationItem {
    height: 10px;
    width: 10px;
    border-radius: 15px;
    background-color: rgb(34, 103, 240);
    margin: auto 0px;
}

.selectedPaginationItem {
    border: 1px solid white;
}

.comboBoxList {
    margin-left: 40px;
    
}

.option {
    margin-right: 20px;
    padding: 5px;
}

.optionTitle {
    margin-bottom: 5px;
    text-align: center;
}

.filter {
    margin: 0px auto;
    background-color: transparent;
}

.ratingInput {
    width: 40px;
}

.ratingInputMin {
    margin-right: 10px;
}

.filterBox {
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);
}

.filterBtn {
    background-color: rgb(41, 44, 59);
    color: white;
    font-family: monospace;
    padding: 6px;
    font-size: 14px;
    border-radius: 30px;
    border: none;
    margin-top: 10px;
    &:active {
        background-color: rgb(18, 19, 27);
    }
}