$posterCol-width: 20%;

.posterCol {
    width: $posterCol-width;
    text-align: center;
    margin-top: 10px;
}

.contentCol {
    width: 100% - $posterCol-width;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.filmPosterDiv {
    width: 70%;
    margin: auto;
    box-shadow: 0 0 20px rgba(255,255,255,.6);
}

.vertivalLine {
    background-color: rgba(255, 255, 255, 0.1);
    width: 0.4px;
}

.ratingBox {
    margin: auto;
    width: 40%;
}

.starDiv {
    width: 15px;
}

.rating {
    margin-right: 3px;
}

.ratingName {
    font-size: 17px;
    margin-right: auto;
}

.ratingCard {
    display: flex;
    margin-bottom: 5px;
}

.screenshotBlock {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 10px;
    padding-top: 0px;
}

.contentBox {
    width: 80%;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.6);
}

.choosedScreenshot {
    height: 400px;
    display: flex;
    justify-content: center;    
    margin-bottom: 15px;
    margin: auto;
}

.choosedImg {
    width: auto;
    max-height: 100%;
}

.navigateImg {
    font-size: 50px;
    margin-top: auto;
    margin-bottom: auto;
    color: rgba(255, 255, 255, 0.55);
    background-color: transparent;
    border: none;
    &:hover {
        text-shadow: 0 0 20px rgba(255, 255, 255, 0.55);
    }
}

.detalBox {
    margin-top: 20px;
}

.castBox {
    width: 50%;
}

.descriptionText {
    width: 50%;
    margin-right: 15px;
}

.detailItem {
    display: flex;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 10px;
}

.detailTable {
    display: table;
    margin-left: 15px;
}

.row {
    display: table-row;
}

.cell {
    display: table-cell;
}

.detailDetails {
    color: rgba(255, 255, 255, 0.8);
    display: table-cell;
}