.avatarInput {
    width: 150px;
}

.avatarDiv {
    width: 100px;
    height: 100px;
    margin: auto;
}

.test {
    object-fit: cover;
    border-radius: 50%;
    height: 100px;
    width: 100px;
}

.red {
    width: 8px;
    height: 8px;
    background-color: red;
    border-radius: 100%;
    margin-left: 5px;
}

.green {
    background-color: green;
}