/* .selectionLogoItem
{
    width: 200px;
    height: 200px;  
    position: absolute;  
    margin: auto;
}
.logoImg {
    max-height: 100%;
    max-width: 100%;
    width: auto;
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
} */
.selectionTitleItem
{
    margin-top: 200px;
}

.selectionBox {
    display: flex;

}

.selectionCard {
    height: 220px;
    width: 200px;
    margin: 0px 20px;
    padding: 10px;
}

.ratingIcon {
    width:100%;
}

.ratingDiv {
    width: 16px;
}

.cardRating {
    margin-top: 200px;
    margin-left: 110px;
}